$colors: (
    primary:#27476e,
    primaryDark:#001d4a,
    primaryLight:#006992,
    placementBlue:#00aad4,
    videoGreen:#3cad3a,
    rvPink:#ff638a,
    studyPurple:#e246c1,
    timeOrange:#eca400,
    adFrameGray:#555,
    colorLight:#eee,
);

@function colors($key) {
    @return map-get($colors, $key)
};

$breakpoint-width: 400px; // Larger than this, means tablet or PC
$drawer-width: 240px;