@import 'variable';

#map-frame {
    position: absolute;
    background: colors(colorLight);
    // height: 100%;
    top: 0;

    left: 0;
    width: 100%;
    @media screen and (min-width: $breakpoint-width) {
        left: 30%;
        width: 70%;
    }
}

#drawer-frame {
    position: absolute;
    background: colors(colorLight);
    height: 100%;
    top: 0;

    left: -$drawer-width;
    width: $drawer-width;
    @media screen and (min-width: $breakpoint-width) {
        left: 0;
        width: 30%;
    }
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#toolbar {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    // background: #333;
}

#logo-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    background: transparent;
    padding: 0;
    border: none;
    outline: none;

    img {
        width: 100%;
        height: 100%;
    }

    &:active {
        opacity: 0.5;
    }
}
