@import 'variable';

* { margin: 0; }

html, body {
    position: relative;
    height: 100%;
    -webkit-user-select: none;
}

#content-frame {
    position: absolute;
    width: 100%;

    background: colors(colorLight);

};

#ad-frame {
    position: absolute;
    width: 100%;
    bottom: 0;
    
    height: 50px;
    background: colors(adFrameGray);
};

